.profile-toolbar-container {
    width: calc(100% - 64px);
    margin: 65px 32px 25px 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-toolbar-container > .follow-button {
    background: rgb(121,171,255);
    background: linear-gradient(138deg, rgba(121,171,255,1) 0%, rgba(223,177,255,1) 100%);
    height: 55px;
    flex: 1;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;;
    font-weight: 700;
}

.profile-toolbar-container > .dm-button {
    height: 55px;
    width: 82px;
    border-radius: 12px;
    margin: 0 0 0 12px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-toolbar-container > .dm-button > span.material-icons{
    transform: rotateZ(-40deg);
    padding-bottom: 2px;
    padding-left: 6px;
}